body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f3e7d3;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header {
    background-color: #7a1f2b;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.2em;
}

header p {
    margin-top: 10px;
    font-size: 1.1em;
}

/* NAVIGATION */
nav {
    background-color: #7a1f2b;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* SECTIONS */
section {
    background-color: white;
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 8px;
}

/* TITRES */
h2 {
    color: #8b5e3c;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

/* LISTES */
ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

/* À PROPOS */
.about-flex {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    text-align: center;
}

/* IMAGES */
.image-bloc {
    text-align: center;
}

.photo {
    width: 160px;
}

.source-image a {
    color: #8b5e3c;
    text-decoration: none;
}

.source-image a:hover {
    color: #7a1f2b;
    text-decoration: underline;
}

/* LIENS */
a {
    color: #2c3e50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background-color: #7a1f2b;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
}
section {
    scroll-margin-top: 80px;
}
.project-card {
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.project-image {
    width: 180px;      /* taille réduite */
    max-width: 100%;
    border-radius: 6px;
}
