body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color:   #f3e7d3;
    color: #000;
}

header {
    background-color: #7a1f2b;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.2em;
}

header p {
    margin-top: 10px;
    font-size: 1.1em;
}

section {
    background-color: white;
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 6px;
}

h2 {
    color: #8b5e3c;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
list-style-type: none;
    padding-left: 15px;
}

li {
    margin-bottom: 12px;
}

a {
    color: #2c3e50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cv-section {
    display: flex;
    justify-content: space-between;
    align-items: center;          /* centre verticalement images + texte */
    width: 100%;
    padding: 40px 0;
}

/* Bloc blanc : même taille que les autres sections */
.cv-texte {
    background-color: white;
    max-width: 900px;             /* MÊME largeur que section */
    margin: 0 auto;
    padding: 25px;
    border-radius: 6px;
    text-align: center;
}

/* Images sur le beige */
.cv-section .photo {
    width: 220px;                 /* plus grandes */
    height: auto;
}
