body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f3e7d3;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header {
    background-color: #7a1f2b;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.2em;
}

header p {
    margin-top: 10px;
    font-size: 1.1em;
}

/* SECTIONS SIMPLES (PAS PLEIN ÉCRAN) */
main section {
    padding: 80px 20px;
}

/* CONTENU CENTRÉ */
.section-content {
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 6px;
}

/* TEXTES */
h2 {
    color: #8b5e3c;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #2c3e50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* SECTION À PROPOS */
.cv-section {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cv-texte {
    flex: 1;
    text-align: center;
}

.image-bloc {
    text-align: center;
}

.photo {
    width: 160px;
}

/* FOOTER */
footer {
    background-color: #7a1f2b;
    color: white;
    text-align: center;
    padding: 20px;
}
